<container>
  <row class="header">
    <columns class="header__inner">
      <row class="collapse">
        <columns small="4" large="2">
          <a href="http://www.afflictionrus.ru/"><img width="70" height="70" src="assets/img/logo.png" alt=""></a>
        </columns>
        <columns class="header-phone" small="8" large="10">
          <p class="text-right">
            <a class="header-phone__item" href="tel:+74956662270">+7 (495) 666-22-70</a><br>
            <a class="header-phone__item" href="tel:+79296487885">+7 (929) 648-78-85</a>
          </p>
        </columns>
      </row>
      <row class="header-menu collapse">
        <columns class="header-menu__item" small="4" large="2">
          <p class="text-left"><a href="http://www.afflictionrus.ru/catalog/?set_filter=Y&sale_not_fields=Y&arrFilter_367_1229076393=Y">Женщинам</a></p>
        </columns>
        <columns class="header-menu__item" small="4" large="2">
          <p class="text-center"><a href="http://www.afflictionrus.ru/catalog/?set_filter=Y&sale_not_fields=Y&arrFilter_367_3609633290=Y">Мужчинам</a></p>
        </columns>
        <columns class="header-menu__item header-menu__item_active" small="4" large="2">
          <p class="text-center"><a href="http://www.afflictionrus.ru/catalog/?set_filter=Y&arrFilter_394_3047956673=Y&arrFilter_394_4209882630=Y&arrFilter_394_2897678720=Y&arrFilter_394_2476504008=Y&arrFilter_394_3824584519=Y&arrFilter_394_3369849988=Y&arrFilter_394_3318142030=Y">Sale</a></p>
        </columns>
        <columns class="header-menu__item show-for-large" large="2">
          <p class="text-center"><a href="http://www.afflictionrus.ru/catalog/?set_filter=Y&sale_not_fields=Y&arrFilter_370_3107627997=Y">Обувь</a></p>
        </columns>
        <columns class="header-menu__item show-for-large" large="2">
          <p class="text-right"><a href="http://www.afflictionrus.ru/catalog/?set_filter=Y&sale_not_fields=Y&arrFilter_369_3460141899=Y">Аксессуары</a></p>
        </columns>
      </row>
    </columns>
  </row>
  <row class="slider collapse">
    <columns>
      <a href="http://www.afflictionrus.ru/catalog/?set_filter=Y&sale_not_fields=Y&arrFilter_367_3609633290=Y&arrFilter_391_934338720=Y"><img class="float-center" width="600" height="250" src="assets/img/slide-full.jpg" alt=""></a>
    </columns>
  </row>
  <row class="catalog-content">
    <columns>
      <h3>ЭЛЕКТРОННАЯ ДИСКОНТНАЯ КАРТА</h3>

      <p>Мы рады сообщить, что компания Affliction, стала поддерживать технологию Wallet (Passbook) для iPhone и
        Passwallet для Android платформ (необходимо скачать). Мы реализовали возможность выдачи нашим клиентам
        дисконтных карт в электронном формате.</p>

      <p>Теперь Вы всегда будете иметь карту под рукой, получать информацию о специальных акциях компании, скидках и
        многом другом!</p>
    </columns>
  </row>
  <row class="catalog">
    <columns small="6" large="3">
      <a href="http://www.afflictionrus.ru/catalog/kurtka_kozha_muzh_mens_ls_leather_jacket/"><img class="float-center" width="126" height="138" src="assets/img/catalog-man_8393.jpg" alt=""></a>
      <p class="text-center">8 393 руб.</p>
    </columns>
    <columns small="6" large="3">
      <a href="http://www.afflictionrus.ru/catalog/kurtka_kozha_muzh_mens_ls_leather_jacket/"><img class="float-center" width="126" height="138" src="assets/img/catalog-woman_74990.jpg" alt=""></a>
      <p class="text-center">8 393 руб.</p>
    </columns>
    <columns small="6" large="3">
      <a href="http://www.afflictionrus.ru/catalog/kurtka_kozha_muzh_mens_ls_leather_jacket/"><img class="float-center" width="126" height="138" src="assets/img/catalog-man_16243_50.jpg" alt=""></a>
      <p class="text-center">16 243.50 руб.</p>
    </columns>
    <columns small="6" large="3">
      <a href="http://www.afflictionrus.ru/catalog/kurtka_kozha_muzh_mens_ls_leather_jacket/"><img class="float-center" width="126" height="138" src="assets/img/catalog-woman_34993.jpg" alt=""></a>
      <p class="text-center">16 243.50 руб.</p>
    </columns>
  </row>
  <row class="catalog">
    <columns small="6" large="3">
      <a href="http://www.afflictionrus.ru/catalog/kurtka_kozha_muzh_mens_ls_leather_jacket/"><img class="float-center" width="126" height="138" src="assets/img/catalog-man_16990.jpg" alt=""></a>
      <p class="text-center">16 990 руб.</p>
    </columns>
    <columns small="6" large="3">
      <a href="http://www.afflictionrus.ru/catalog/kurtka_kozha_muzh_mens_ls_leather_jacket/"><img class="float-center" width="126" height="138" src="assets/img/catalog-woman_8393.jpg" alt=""></a>
      <p class="text-center">8 393 руб.</p>
    </columns>
    <columns small="6" large="3">
      <a href="http://www.afflictionrus.ru/catalog/kurtka_kozha_muzh_mens_ls_leather_jacket/"><img class="float-center" width="126" height="138" src="assets/img/catalog-man_16990-2.jpg" alt=""></a>
      <p class="text-center">16 990 руб.</p>
    </columns>
    <columns small="6" large="3">
      <a href="http://www.afflictionrus.ru/catalog/kurtka_kozha_muzh_mens_ls_leather_jacket/"><img class="float-center" width="126" height="138" src="assets/img/catalog-woman_16990.jpg" alt=""></a>
      <p class="text-center">16 990 руб.</p>
    </columns>
  </row>
  <row class="catalog-btn collapse">
    <columns class="catalog-btn__inner">
      <row>
        <columns small="2" large="4"></columns>
        <columns class="catalog__btn" small="8" large="4">
          <a href="http://www.afflictionrus.ru/catalog/">Смотреть всё</a>
        </columns>
        <columns small="2" large="4"></columns>
      </row>
    </columns>
  </row>
  <row class="discount collapse">
    <columns>
      <a href="http://www.afflictionrus.ru/klubnaya-karta/"><img class="float-center" width="600" height="250" src="assets/img/discount.jpg" alt=""></a>
    </columns>
  </row>
  <row class="social collapse">
    <columns class="social__inner">
      <h6 class="text-center">Affliction в соцсетях</h6>
      <row>
        <columns class="social__space">&nbsp;</columns>
      </row>
      <row>
        <columns small="6" large="3">
          <a href="https://vk.com/afflictionrus"><img class="float-center" src="assets/img/soc-v.png" alt=""></a>
        </columns>
        <columns small="6" large="3">
          <a href="https://www.instagram.com/afflictionrus/"><img class="float-center" src="assets/img/soc-i.png" alt=""></a>
        </columns>
        <columns small="6" large="3">
          <a href="https://www.facebook.com/afflictionclothingrussia"><img class="float-center" src="assets/img/soc-f.png" alt=""></a>
        </columns>
        <columns small="6" large="3">
          <a href="https://www.youtube.com/user/afflictionvideos"><img class="float-center" src="assets/img/soc-y.png" alt=""></a>
        </columns>
      </row>
    </columns>
  </row>
  <row class="unsubscribe collapse">
    <columns class="unsubscribe__inner">
      <p class="text-center">Цены, указанные в рассылке, действуют в собственных магазинах AFFLICTION <br> и могут измениться в
          дальнейшем.</p>
      <p class="unsubscribe__p text-center"><a href="#" class="small">Отписаться</a></p>
    </columns>
  </row>
  <row class="footer">
    <columns class="footer__inner">
      <center>
        <span class="footer__link"><a href="http://www.afflictionrus.ru/">www.afflictionrus.ru</a></span>
      </center>
    </columns>
  </row>
</container>
